custom/zsh
nvim/undo
vim/backups
nvim/undo/
nvim/pack/
vim/view
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/sessions
.netrwhist
bin/subl
tags
